POSTGRES_DB=fdp
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

KROGER_CLIENT_ID=your_kroger_client_id
KROGER_CLIENT_SECRET=your_kroger_client_secret
KROGER_API_BASE_URL=https://api-ce.kroger.com/v1